.sf-canteen-user-page {
  color: #707070;
}

.sf-canteen-user-tabs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sf-canteen-user-tabs > button {
  border: none;
  background: none;
  font-size: 2em;
  font-weight: 300;
  color: #707070;
  padding-left: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.sf-canteen-user-tabs > button {
  cursor: pointer;
}

.sf-canteen-user-tabs > button.sf-canteen-user-tab-active {
  color: #51bc51;
  border-bottom: 5px solid #51bc51;
  font-weight: 600;
}
